Flask==2.3.3
Flask-Login==0.6.3
Werkzeug==2.3.7
azure-storage-blob==12.19.0
azure-storage-file-datalake==12.14.0
python-dotenv==1.0.0
WTForms==3.0.1
Flask-WTF==1.1.1
email-validator==2.0.0
pandas==2.1.1
azure-core==1.29.4
requests==2.31.0